$accent-green: #28b097;
$card-grey: rgb(226, 225, 225);
$background-grey: #1C2027; 

.clone-card {
  background-color: $card-grey;
  min-width: 300px;
  margin: 0 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(150, 149, 149, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1px;
  padding: 1px;
  transition: transform 0.3s linear;

  &:hover {
    transform: translate(0, -10px);
  }

  .card-name {
    text-align: center;
    grid-area: 1 / 1 / 4 / 4;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Open sans', sans-serif;
    font-weight: 800;
    color: black;
    padding: 50px 30px 10px 30px;
    cursor: pointer;
  }

  .main-site-btn {
    border-radius: 0 0 0 5px;
    grid-area: 4 / 1 / 4 / 1;
    background-color: $accent-green;
    color: black;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    transition: all 0.1s linear;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $background-grey;
      color: white;
    }
  }

  .code-btn {

    border-radius: 0 0 5px 0;
    grid-area: 4 / 2 / 4 / 2;
    background-color: $accent-green;
    color: black;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    transition: all 0.1s linear;
    cursor: pointer;
    user-select: none;

    &:hover {

      background-color: $background-grey;
      color: white;

    }

    span {

      margin-left: 10px;

    }

  }

}


@media screen and 

(min-width: 600px) and 

(max-width: 768px) {

  .clone-card {

    width: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    .card-name {

      font-size: 1.5rem;
      grid-area: 1 / 1 / 3 / 3;

    }

    .code-btn, .main-site-btn {

      font-size: 1rem;
      padding: 15px 5px;

    }

  }

}


@media screen and (max-width: 600px) {

  .clone-card {

    width: 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    .card-name {

      font-size: 1.7rem;
      grid-area: 1 / 1 / 3 / 3;

    }
    
    .code-btn, .main-site-btn {

      font-size: 0.8rem;
      padding: 15px 5px;

    }

  }

}