$accent-green: #28b097;

.navbar {
  background: $accent-green;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 7vh;
  font-family: 'Open sans', sans-serif;
  font-size: 1.5rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  color: black;
  user-select: none;
  overflow: hidden;

    .nav-link {
      padding: 4vh 2vw;
      text-decoration: none;
      color: black;
      background-color: $accent-green;
      border-right: 1px solid black;

      &:hover {
        background-color: #f1f5f9;
        color: black;
        padding: 4vh 2vw;
        cursor: pointer;
        transition: background-color 0.3s linear, border 0.3s linear,
          color 0.1s ease;
      }
    }

    .active-link {

      background-color: #f1f5f9;
      color: black;
      text-decoration: none;
      padding: 4vh 2vw;
      cursor: pointer;
      transition: background-color 0.3s linear, border 0.3s linear,
        color 0.1s ease;

    }

}



@media screen and 

(min-width: 600px) and 

(max-width: 768px) {

  .navbar {

    .nav-link {

      display: flex;
      align-items: center;
      margin-left: 0;
      font-size: 1.2rem;

    }

  }

}

@media screen and (max-width: 600px) {

  .navbar {
    margin: auto;
    justify-content: space-between;

    .nav-link {

      padding: 2em 1em;
      font-size: 1.1rem;
      border-right: 1px solid transparent;

        &:hover {

          padding: 2em 1em;

        }
    }

    .house-icon {

      font-size: 0.9rem;

    }

  }

}