$accent-green: #28b097;


.projects-page {

  padding-bottom: 5em;
  text-align: center;

  .heading {

    color: #32373C;
    font-size: 1.5rem;
    user-select: none;
    margin: 100px 0 100px 0;
    
    > p:first-child {
      
      font-family: SlateBold;
      font-size: 2.5rem;
      font-weight: 600;
      text-decoration: underline $accent-green;

    }

    .heading-alert {

      background-color: rgb(253, 253, 226);
      border: 1px solid rgb(149, 127, 0);
      font-size: 1rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border-radius: 5px;
      color: rgb(149, 127, 0);
      width: 13em;
      height: 2.9em;
      padding: 0 1em;
      padding-bottom: 0.5em;
      margin: auto; 
      
      i {

       margin-right: 0.5em; 

      }
      
    }

  }


  .projects {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 40px;
    margin: 0 40px;

  }

}



@media screen and 
(min-width: 600px) and 
(max-width: 768px) {

  .projects-page {

    .heading {

      margin: 100px 0;


      p:nth-of-type(1) {
      
        font-size: 1.5rem;

      }

      p:nth-of-type(2), i {

        margin-top: 5px;

      }

    }


    .projects {

      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      margin: 0 10px;

    }

  }

}

@media screen and (max-width: 600px) {

  .projects-page {

    .heading {

      margin: 80px 0 100px 0;

      p:nth-of-type(1) {
      
        font-size: 1.5rem;

      }

      .heading-alert {


        
        width: 10em;
        height: 2em;
        padding: 0 1em;
        padding-bottom: 0.4em;

        p {

          font-size: 0.7rem;

        }

      }

    }

    .projects {

      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      margin: 0 40px;

        p {

          font-size: 2rem;

        }

      }

    }

  }