$msigrey: #676667;

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fefffe;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .header-left {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content: space-around;
    font-family: sans-serif;


    img {
      padding: 15px 20px;
      cursor: pointer;
      align-self: center;
    }

    > div:not(:nth-child(6)) {
      padding: 35px 20px;
      font-weight: 600;
      color: $msigrey;
      user-select: none;
    }

    > div:not(:nth-child(6)):hover {
      border-bottom: 4px solid black;
      color: black;
      padding-bottom: 50px;
      transition: border-bottom 0.1s linear;
      cursor: pointer;
    }

    .subdiv-content {
      display: none;
      background-color: white;
      position: absolute;
      left: 0;
      top: 91px;
      width: 100vw;
      height: 70vh;
      z-index: 6;
    }

    .subdiv-show {
      display: block;
    }

    .subdiv-top {
      height: 90px;
      background-color: #eeefef;
    }

    .subdiv-one {
      margin: 4em 2em 4em;
      font-size: 1.1rem;
      font-weight: 700;
      color: $msigrey;
    }

    .sideitem {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .sideitem:hover {
      color: black;
    }

    .arrow {
      margin-left: 5em;
    }
  }
}

.header-right {
  img {
    margin: 30px 15px;
    color: $msigrey;
  }
}


.second-header {
  background-color: #ededec;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;


  .second-header-left {
    * {
      margin: 10px 70px;
    }
  }

  .second-header-right {
    display: flex;
    flex-direction: row;
    align-items: end;
    font-size: 15px;


    div:not(.active) {
      padding: 5px 1em 10px 1em;
      margin-bottom: 5px;
      color: #7d7f91;
    }

    div:hover {
      text-align: center;
      color: black;
      padding: 5px 1em 10px 1em;
      margin-bottom: 2px;
      border-bottom: 3px solid red;
    }

    .active {
      text-align: center;
      color: black;
      padding: 5px 1em 10px 1em;
      margin-right: 3px;
      margin-bottom: 2px;
      border-bottom: 3px solid red;
    }

    button {
      background-color: red;
      border: 1px solid red;
      border-radius: 5px;
      padding: 5px 1.2em 5px 1.2em;
      margin: 0 10em 0.6em 1em;
      color: white;
    }

    .red-link {
      border: 1px solid red;
      background-color: red;
      color: white !important;
      border-radius: 5px;
      padding: 5px 10px;
      margin: 35px 0px 5px 0px;
    }
  }
}

section {
  color: white;
  background-color: #000;
  height: 160em;


  .section-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;

    .section-one-left {
      height: 30em;
      max-width: 40rem;
      margin-right: 20px;

      > p {
        font-size: 1.5rem;
        margin: 0;
      }

      > div {
        padding-left: 20px;
        font-size: 1rem;
      }
    }

    .social-icon-group {
      display: flex;
    }

    .social-icons {
      background-color: #332e30;
      margin: 0.1em;
      padding: 0.5em;
    }

    .facebook {
      padding: 0.5em 0.6em;
    }

    .facebook:hover {
      background-color: rgb(35, 88, 211);
      transition: background-color 0.5s;
      cursor: pointer;
    }

    .twitter:hover {
      background-color: rgb(47, 146, 240);
      transition: background-color 0.5s;
      cursor: pointer;
    }

    .google:hover {
      background-color: rgb(180, 63, 27);
      transition: background-color 0.5s;
      cursor: pointer;
    }

    input[type="checkbox"] {
      color: white;
      background-color: grey;
      width: 1.5em;
      height: 1.5em;
    }

    .section-one-right p {
      text-align: end;
      border: 1px solid red;
      background-color: red;
      color: white;
      padding: 0.3em;
      margin-left: 27em;
      width: 6em;
    }
  }

  .section-two>p {
    margin: 0;
    text-align: center;
  }

  .section-two-specs {
    margin-top: 5em;
    display: flex;
    justify-content: center;
  }

  .section-two-specs>div:nth-child(1) {
    margin-left: 5em;
    min-width: 20%;
  }

  .section-two-specs>div:nth-child(1) button {
    margin-right: 2em;
    border: 1px solid rgb(94, 165, 245);
    background-color: white;
    color: rgb(94, 165, 245);
    border-radius: 3px;
  }

  .section-two-specs>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    min-width: 25%;
  }

  .section-two-specs>div:nth-child(3) button {
    margin-right: 2em;
    border: 1px solid rgb(94, 165, 245);
    background-color: rgb(94, 165, 245);
    color: white;
    border-radius: 3px;
  }

  .section-two-specs>div:nth-child(3) p {
    margin-left: 3em;
  }

  .image-section {
    display: flex;
    justify-content: center;
  }

  .image-section-one {
    position: relative;
    height: 40em;
  }

  .image-section-one>div:nth-child(1) {
    background-color: #2f2c2d;
    position: absolute;
    height: 37em;
    width: 55em;
    z-index: 1;
    left: -15em;
  }

  .image-section-one>img {
    position: absolute;
    object-fit: contain;
    top: -6em;
    z-index: 2;
    left: -40em;
  }

  .image-section-one>div:nth-child(3) {
    position: absolute;
    z-index: 3;
    width: 30em;
    top: 8em;
    left: 8em;
  }

  .image-section-one>div:nth-child(3) h2 {
    border: 1px solid #019dff;
    width: 10em;
    background-color: #019dff;
    padding: 0.8em;
    margin: 0;
    text-align: center;
  }

  .image-section-one>div:nth-child(3) p {
    background-color: #2f2c2d;
    margin: 0;
    padding: 2em;
    font-size: 1.2rem;
  }

  .trapezoid {
    border-top: 40px solid #47c7b5;
    border-left: 25px solid #47c7b5;
    border-right: 60px solid transparent;
    height: 0em;
    width: 10em;
    transform: rotate(90deg);
    position: fixed;
    right: -4em;
    bottom: 10em;
    z-index: 12;
  }

  .trapezoid p {
    position: absolute;
    top: -3em;
  }

  .section-three {
    width: 70%;
    margin: 0 10em;
    justify-self: center;
  }

  .section-three img {
    float: right;
    margin-bottom: 1em;
  }

  .section-three p {
    clear: right;
  }
}

footer {
  background-color: white;
}

.footer-one {
  display: flex;
  text-align: left;
  margin-left: 2em;
  justify-content: space-around;
}

.footer-one>div>h3 {
  font-weight: 400;
}

.footer-one>div>p {
  color: rgb(119, 105, 105);
}

.footer-one>div>p:hover {
  color: rgb(7, 7, 7);
  cursor: pointer;
}

.footer-two-left {
  display: flex;
  flex-direction: row;
}