body {
  margin: 0;
  padding: 0;
  background-color: #1C2027;
}


@font-face {
  font-family: SlateBold;
  src: url(./fonts/SlateBold.TTF);
  font-weight: bold;
}

@font-face {
  font-family: Slate;
  src: url(./fonts/SlateReg.TTF);
}

@font-face {
  font-family: SlateBook;
  src: url(./fonts/SlateBook.TTF);
}
